<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>  <%= title %></title>
</head>

<body>


    <%- include("../partials/navbar.ejs"); %>

    <h1 class="p-4 text-xl font-bold">This is index page</h1>
    <p class="p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nulla nihil! Laboriosam deserunt, temporibus
        fugit velit ea perferendis explicabo doloribus culpa tempore fuga doloremque ipsa consectetur asperiores nihil
        provident debitis unde quae voluptatibus! Voluptates ut, iusto natus corporis nobis repudiandae unde delectus
        maiores at tenetur ipsum, cum nesciunt repellat. Animi similique architecto veritatis, officia sit hic porro
        voluptatum obcaecati fugiat corporis modi voluptates repudiandae sed facilis fugit? Odit voluptatem obcaecati
        error culpa modi delectus laudantium illum iste. Cumque, quod illo. Culpa, quia id inventore repellat molestias
        voluptatibus nostrum similique fugit sunt debitis quibusdam, doloribus quidem, voluptatum porro sapiente a
        eveniet? Veritatis fuga nesciunt debitis, voluptatem, iste tempore eius corporis nihil, sequi necessitatibus
        quibusdam vero! Architecto distinctio culpa, praesentium recusandae impedit blanditiis ad illum odit aperiam,
        aliquid consequatur qui hic numquam! Voluptatibus, quisquam reprehenderit illum dolores culpa earum iusto
        architecto excepturi deleniti neque facere dolore eligendi provident officiis ea blanditiis impedit minima
        corporis rem omnis quas. Esse hic asperiores soluta, obcaecati corporis libero sunt veritatis exercitationem
        nesciunt! Fugit aut quisquam rem sed id, dicta voluptas illum ipsum voluptatum aliquid nam soluta repellendus
        labore laborum doloribus eum optio maxime rerum qui, laboriosam voluptate delectus magnam? Labore voluptatem
        neque voluptates, inventore commodi ex?</p>
</body>

</html>