<div class="flex gap-4 bg-gray-700 text-white p-4">
    <a href="/" class="text-lg font-semibold hover:text-orange-800">Home</a>
    <a href="/about"  class="text-lg font-semibold hover:text-orange-800">About</a>
</div>